---
components:
  securitySchemes:
    basicAuth:
      scheme: basic
      type: http
    bearerAuth:
      bearerFormat: Simplicite token
      scheme: bearer
      type: http
security:
- basicAuth: []
- bearerAuth: []
servers:
- url: https://dev40.simplicite.cloud/api
openapi: 3.0.0
paths:
  /login:
    post:
      description: Login
      operationId: login
      responses:
        '200':
          description: User information
          content:
            application/json: {}
      parameters:
      - schema:
          type: string
        in: query
        name: login
        description: Login
        required: true
      - schema:
          type: string
        in: query
        name: password
        description: Password
        required: true
      tags:
      - Application
  /logout:
    get:
      description: Logout
      operationId: logout
      responses:
        '200':
          description: Logout confirmation
          content:
            application/json: {}
      tags:
      - Application
  /rest/PzaOrder:
    get:
      description: Get business object metadata or search records
      operationId: obj-pzaorder-search
      responses:
        '200':
          description: Business object metadata or records of search result
          content:
            application/json: {}
      parameters:
      - schema:
          type: boolean
        in: query
        name: _metadata
        description: Metadata?
        required: false
      - schema:
          type: boolean
        in: query
        name: _doc
        description: Documentation?
        required: false
      - schema:
          type: string
        in: query
        name: pzaOrdDate
        description: Search filter for Date
        required: false
      - schema:
          type: string
        in: query
        name: pzaOrdName
        description: Search filter for Name
        required: false
      - schema:
          type: string
        in: query
        name: pzaOrdPhone
        description: Search filter for Phone number
        required: false
      - schema:
          type: string
        in: query
        name: pzaOrdEmail
        description: Search filter for E-mail
        required: false
      - schema:
          type: string
        in: query
        name: pzaOrdComments
        description: Search filter for Comments
        required: false
      - schema:
          type: string
        in: query
        name: pzaOrdPizId
        description: Search filter for Pizza
        required: false
      - schema:
          type: string
        in: query
        name: pzaOrdPizId__pzaPizName
        description: Search filter for Name of the pizza
        required: false
      - schema:
          type: object
        in: query
        name: pzaOrdPizId__pzaPizPicture
        description: Search filter for Picture of the pizza
        required: false
      - schema:
          type: number
        in: query
        name: pzaOrdPizId__pzaPizPrice
        description: Search filter for Pizza Price
        required: false
      tags:
      - PzaOrder
  /rest:
    get:
      description: Application session information
      operationId: info
      responses:
        '200':
          description: Application information
          content:
            application/json: {}
      parameters:
      - schema:
          type: boolean
        in: query
        name: texts
        description: Texts?
        required: false
      tags:
      - Application
  /rest/PzaOrder/{row_id}:
    post:
      description: Create business object record
      operationId: obj-pzaorder-create
      responses:
        '200':
          description: Created business object record
          content:
            application/json: {}
      parameters:
      - schema:
          type: string
        in: path
        name: row_id
        description: row ID
        required: true
      - schema:
          type: string
        in: query
        name: pzaOrdDate
        description: Date
        required: false
      - schema:
          type: string
        in: query
        name: pzaOrdName
        description: Name
        required: false
      - schema:
          type: string
        in: query
        name: pzaOrdPhone
        description: Phone number
        required: false
      - schema:
          type: string
        in: query
        name: pzaOrdEmail
        description: E-mail
        required: false
      - schema:
          type: string
        in: query
        name: pzaOrdComments
        description: Comments
        required: false
      - schema:
          type: string
        in: query
        name: pzaOrdPizId
        description: Pizza
        required: false
      - schema:
          type: string
        in: query
        name: pzaOrdPizId__pzaPizName
        description: Name of the pizza
        required: false
      - schema:
          type: object
        in: query
        name: pzaOrdPizId__pzaPizPicture
        description: Picture of the pizza
        required: false
      - schema:
          type: number
        in: query
        name: pzaOrdPizId__pzaPizPrice
        description: Pizza Price
        required: false
      tags:
      - PzaOrder
    get:
      description: Get business object record
      operationId: obj-pzaorder-get
      responses:
        '200':
          description: Business object record
      parameters:
      - schema:
          type: string
        in: path
        name: row_id
        description: row ID
        required: true
      - schema:
          type: boolean
        in: query
        name: _inline_documents
        description: Inline documents?
        required: false
      - schema:
          type: boolean
        in: query
        name: _inline_thumbnails
        description: Inline documents' thumbnails?
        required: false
      - schema:
          type: boolean
        in: query
        name: _inline_objects
        description: Inline objects?
        required: false
      tags:
      - PzaOrder
    delete:
      description: Delete business object record
      operationId: obj-pzaorder-delete
      responses:
        '200':
          description: Business object deletion confirmation
          content:
            application/json: {}
      parameters:
      - schema:
          type: string
        in: path
        name: row_id
        description: row ID
        required: true
      tags:
      - PzaOrder
    put:
      description: Update business object record
      operationId: obj-pzaorder-update
      responses:
        '200':
          description: Updated business object record
          content:
            application/json: {}
      parameters:
      - schema:
          type: string
        in: path
        name: row_id
        description: row ID
        required: true
      - schema:
          type: string
        in: query
        name: pzaOrdDate
        description: Date
        required: false
      - schema:
          type: string
        in: query
        name: pzaOrdName
        description: Name
        required: false
      - schema:
          type: string
        in: query
        name: pzaOrdPhone
        description: Phone number
        required: false
      - schema:
          type: string
        in: query
        name: pzaOrdEmail
        description: E-mail
        required: false
      - schema:
          type: string
        in: query
        name: pzaOrdComments
        description: Comments
        required: false
      - schema:
          type: string
        in: query
        name: pzaOrdPizId
        description: Pizza
        required: false
      - schema:
          type: string
        in: query
        name: pzaOrdPizId__pzaPizName
        description: Name of the pizza
        required: false
      - schema:
          type: object
        in: query
        name: pzaOrdPizId__pzaPizPicture
        description: Picture of the pizza
        required: false
      - schema:
          type: number
        in: query
        name: pzaOrdPizId__pzaPizPrice
        description: Pizza Price
        required: false
      tags:
      - PzaOrder
  /rest/PzaPizza/{row_id}:
    post:
      description: Create business object record
      operationId: obj-pzapizza-create
      responses:
        '200':
          description: Created business object record
          content:
            application/json: {}
      parameters:
      - schema:
          type: string
        in: path
        name: row_id
        description: row ID
        required: true
      - schema:
          type: string
        in: query
        name: pzaPizName
        description: Name
        required: false
      - schema:
          type: number
        in: query
        name: pzaPizPrice
        description: Price
        required: false
      - schema:
          type: array
          enum:
          - THIN
          - PAN
        in: query
        name: pzaPizType
        description: Type
        required: false
      - schema:
          type: integer
        in: query
        name: pzaPizDiameter
        description: Diameter
        required: false
      - schema:
          type: object
        in: query
        name: pzaPizPicture
        description: Picture
        required: false
      - schema:
          type: string
        in: query
        name: pzaPizDesc
        description: Description
        required: false
      tags:
      - PzaPizza
    get:
      description: Get business object record
      operationId: obj-pzapizza-get
      responses:
        '200':
          description: Business object record
      parameters:
      - schema:
          type: string
        in: path
        name: row_id
        description: row ID
        required: true
      - schema:
          type: boolean
        in: query
        name: _inline_documents
        description: Inline documents?
        required: false
      - schema:
          type: boolean
        in: query
        name: _inline_thumbnails
        description: Inline documents' thumbnails?
        required: false
      - schema:
          type: boolean
        in: query
        name: _inline_objects
        description: Inline objects?
        required: false
      tags:
      - PzaPizza
    delete:
      description: Delete business object record
      operationId: obj-pzapizza-delete
      responses:
        '200':
          description: Business object deletion confirmation
          content:
            application/json: {}
      parameters:
      - schema:
          type: string
        in: path
        name: row_id
        description: row ID
        required: true
      tags:
      - PzaPizza
    put:
      description: Update business object record
      operationId: obj-pzapizza-update
      responses:
        '200':
          description: Updated business object record
          content:
            application/json: {}
      parameters:
      - schema:
          type: string
        in: path
        name: row_id
        description: row ID
        required: true
      - schema:
          type: string
        in: query
        name: pzaPizName
        description: Name
        required: false
      - schema:
          type: number
        in: query
        name: pzaPizPrice
        description: Price
        required: false
      - schema:
          type: array
          enum:
          - THIN
          - PAN
        in: query
        name: pzaPizType
        description: Type
        required: false
      - schema:
          type: integer
        in: query
        name: pzaPizDiameter
        description: Diameter
        required: false
      - schema:
          type: object
        in: query
        name: pzaPizPicture
        description: Picture
        required: false
      - schema:
          type: string
        in: query
        name: pzaPizDesc
        description: Description
        required: false
      tags:
      - PzaPizza
  /rest/PzaPizza:
    get:
      description: Get business object metadata or search records
      operationId: obj-pzapizza-search
      responses:
        '200':
          description: Business object metadata or records of search result
          content:
            application/json: {}
      parameters:
      - schema:
          type: boolean
        in: query
        name: _metadata
        description: Metadata?
        required: false
      - schema:
          type: boolean
        in: query
        name: _doc
        description: Documentation?
        required: false
      - schema:
          type: string
        in: query
        name: pzaPizName
        description: Search filter for Name
        required: false
      - schema:
          type: number
        in: query
        name: pzaPizPrice
        description: Search filter for Price
        required: false
      - schema:
          type: array
          enum:
          - THIN
          - PAN
        in: query
        name: pzaPizType
        description: Search filter for Type
        required: false
      - schema:
          type: integer
        in: query
        name: pzaPizDiameter
        description: Search filter for Diameter
        required: false
      - schema:
          type: object
        in: query
        name: pzaPizPicture
        description: Search filter for Picture
        required: false
      - schema:
          type: string
        in: query
        name: pzaPizDesc
        description: Search filter for Description
        required: false
      tags:
      - PzaPizza
info:
  license:
    name: Simplicite license
    url: http://www.simplicitesoftware.com
  contact:
    name: Simplicite Software
    url: http://www.simplicitesoftware.com
    email: contact@simplicitesoftware.com
  description: REST APIs for Pizzeria
  title: Pizzeria
  version: '4.0'
